body,
html {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: black;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.content-container {
  border: 1px solid #fff;
  border-radius: 5px;
}

.error-message {
  font-size: 2em;
  font-weight: bold;
  color: #ff0080;
  text-shadow: 0 0 10px #ff00ff;
  margin-bottom: 2rem;
}

.error-description {
  color: #fff;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

.error-image {
  width: 40rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#image-container {
  overflow: hidden;
  border-radius: 5px;
}
