##############################################
# Pulsed Media Seedbox Server OpenVPN Config # 
##############################################


client
dev tun
proto udp

# The hostname/IP and port of the server.
remote ##SERVER_HOSTNAME## 1194

resolv-retry infinite

nobind

# Try to preserve some state across restarts.
persist-key
persist-tun

# Certificate Authority
ca ##CONFIG_FILENAME##.crt

# Username/Password authentication is used on the server
auth-user-pass

# Verify server certificate by checking
# that the certicate has the nsCertType
# field set to "server".  This is an
# important precaution to protect against
# a potential attack discussed here:
#  http://openvpn.net/howto.html#mitm
#
# To use this feature, you will need to generate
# your server certificates with the nsCertType
# field set to "server".  The build-key-server
# script in the easy-rsa folder will do this.
ns-cert-type server

# Set log file verbosity.
verb 3