##############################################
# Pulsed Media Seedbox Server OpenVPN Config # 
##############################################

## Protocol options ##
client
dev tun
proto udp
remote ##SERVER_HOSTNAME## 1194
resolv-retry 5
nobind

## Client options ##
# Preserve state across client restarts
persist-key
persist-tun
# Log file verbosity
verb 3

## Security options ##
ca ##CONFIG_FILENAME##.crt
auth-user-pass
auth-nocache
cipher AES-256-GCM
data-ciphers AES-256-GCM:AES-256-CBC
remote-cert-tls server
