## Server ##
user nobody
group nogroup
persist-key
persist-tun
log-append /var/log/openvpn/server.log

## Protocol ##
dev tun
# Avoid TCP-over-TCP
proto udp
# Any port works, standard is used
# Changing this requires editing /scripts/util/setupNetwork.php
port 1194

## Security ##
ca /etc/openvpn/easy-rsa/pki/ca.crt
cert /etc/openvpn/easy-rsa/pki/issued/server.crt
key /etc/openvpn/easy-rsa/pki/private/server.key
dh /etc/openvpn/easy-rsa/pki/dh.pem

## Authentication ##
# User authentication settings. Usernames must be able to authenticate with PAM
plugin /usr/lib/x86_64-linux-gnu/openvpn/plugins/openvpn-plugin-auth-pam.so login
# OpenVPN makes a warning about using this, however since PAM authentication is
# used instead of certificates, it doesn't matter	
verify-client-cert none
username-as-common-name

## Network ##
topology subnet
# Changing this requires editing /scripts/util/setupNetwork.php
server 10.8.0.0 255.255.255.0
# Note that this option controls whether OpenVPN or the kernel is used
# for routing client to client traffic. To prevent client to client traffic,
# an iptables rule is needed.
#client-to-client

## Client network configuration ##
push "redirect-gateway def1"
# These DNS options do not affect Linux clients, as DNS has to be controlled
# by a client side script.
push "dhcp-option DNS 185.148.1.3"
push "dhcp-option DNS 185.148.1.2"
# ping every 10 seconds, assume peer is down if no response in 120 seconds
keepalive 10 120

# In v2.4, by default the connection with AES-256-GCM. Adding cipher option allows older clients to use AES-256-CBC.
# More info at https://community.openvpn.net/openvpn/wiki/CipherNegotiation#Serverversion2.4
cipher AES-256-CBC
