<?php
#Default settings, change these to suit your system. Speeds are in mbits
return array(
    'interface' => 'eth0',
    'speed' => '1000',
    'throttle' => array(
      'min' => 50,
      'max' => 100,
      'progressiveThrottleEnabled' => false,
      'progressiveThrottleFloorPercent' => 2.5,
      'progressiveThrottleGracePercent' => 0,
      'overageStages' => array(
        array('overagePercent' => 0, 'capMbit' => 100),
      ),
      'soft' => 250,
      'limitSoft' => 80,
      'limitExceedMax' => 20

    )

);
