dev tun
## udp is recommended, avoid TCP over TCP
proto udp 
## any port will do, this is the standard
port 1194 

## certs we created earlier
ca /etc/openvpn/easy-rsa/2.0/keys/ca.crt
cert /etc/openvpn/easy-rsa/2.0/keys/server.crt
key /etc/openvpn/easy-rsa/2.0/keys/server.key
dh /etc/openvpn/easy-rsa/2.0/keys/dh1024.pem

user nobody
group nogroup
## You can make this any private subnet you like
server 10.8.0.0 255.255.255.0

persist-key
persist-tun

#status openvpn-status.log
#verb 3
client-to-client

## make this connection the default gateway for network traffic
push "redirect-gateway def1"
push "dhcp-option DNS 8.8.8.8"

log-append /var/log/openvpn

## User authentication settings. Usernames must be able to authenticate with PAM
## To use radius or another auth mechanism create /etc/pam.d/openvpn
## by default it is doing common-auth (a user must have a local accout and pasword)
plugin /usr/lib/openvpn/openvpn-auth-pam.so login
client-cert-not-required
username-as-common-name

# More modern cipher
cipher AES-256-CBC

## A management interface allows you to telnet from local host to use
## telnet localhost 7505
#management localhost 7505
