#meter-disk-value {
  background: linear-gradient(
    124deg,
    #ff2400,
    #e81d1d,
    #e8b71d,
    #e3e81d,
    #1de840,
    #1ddde8,
    #2b1de8,
    #dd00f3,
    #dd00f3
  );
  background-size: 1800% 1800%;
  border-radius: 10px;
  -webkit-animation: rainbow 8s ease infinite;
  -moz-animation: rainbow 8s ease infinite;
  -o-animation: rainbow 8s ease infinite;
  animation: rainbow 8s ease infinite;
}

@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }

  50% {
    background-position: 100% 19%;
  }

  100% {
    background-position: 0% 82%;
  }
}

.portfoliobox p,
.portfoliobox h6,
.portfoliobox a,
.portfoliobox span {
  font-family: 'Comic Sans MS', sans-serif;
  font-style: italic;
  font-weight: bold;
  transform: rotate(-1.5deg);
  -webkit-transform: rotate(-1.5deg);
  -moz-transform: rotate(-1.5deg);
}

#meter-disk-holder {
  border-radius: 10px;
}
